$xxxSmall: 0.4rem;
$xxSmall: 0.8rem;
$xSmall: 1.6rem;
$small: 2.0rem;
$medium: 2.4rem;
$large: 3.2rem;
$xLarge: 4.8rem;

$Grey10: #E0E0E0;
$Grey20: #C7C7C7;
$Grey30: #AEAEAE;
$Grey40: #959595;
$Grey50: #777677;
$Grey60: #5A5A5A;
$Grey70: #464646;
$Grey80: #323232;
$Grey90: #121212;
$Grey100: #000000;

$coolGrey05: #DFE9F5;
$coolGrey10: #DFE9E9;
$coolGrey20: #C8D2D2;
$coolGrey30: #AEB8B8;
$coolGrey40: #959F9F;
$coolGrey50: #6D7777;
$coolGrey60: #5A6464;
$coolGrey70: #3C4646;
$coolGrey80: #323C3C;
$coolGrey90: #0D1111;
$coolGrey100: #000203;

$White: #FFFFFF;
$Black: $Grey100;

$warm1: #FDFBFB;
$warm2: #FDFBFB;
$warm3: #F7F5F5;
$warm4: #F2EEEE;

$cool4: #ECF0F2;
$cool3: #F0F2F4;
$cool2: #F9F9FB;
$cool1: #FBFDFD;

$Neutral1: #FDFDFD;
$Neutral2: #F9F9F9;
$Neutral3: #F4F4F4;
$Neutral4: #ECECEC;

$Green10: #C8F08F;
$Green20: #B4E051;
$Green30: #8CD211;
$Green40: #5AA700;
$Green50: #4B8400;
$Green60: #2D660A;
$Green70: #144D14;
$Green80: #0A3C02;
$Green90: #0C2808;
$Green100: #010200;

$Blue10: #C0E6FF;
$Blue20: #7CC7FF;
$Blue30: #5AAAFA;
$Blue40: #5596E6;
$Blue50: #4178BE;
$Blue60: #325C80;
$Blue70: #264A60;
$Blue80: #1D3649;
$Blue90: #152935;
$Blue100: #010205;

$Teal10: #A7FAE6;
$Teal20: #6EEDD8;
$Teal30: #41D6C3;
$Teal40: #00B4A0;
$Teal50: #008571;
$Teal60: #006D5D;
$Teal70: #005448;
$Teal80: #003C32;
$Teal90: #012B22;
$Teal100: #000202;

$Magenta10: #FFD2FF;
$Magenta20: #FF9EEE;
$Magenta30: #FF71D4;
$Magenta40: #FF3CA0;
$Magenta50: #DB2780;
$Magenta60: #A6266E;
$Magenta70: #7C1C58;
$Magenta80: #601146;
$Magenta90: #3A0B2E;
$Magenta100: #040102;

$Purple10: #EED2FF;
$Purple20: #D7AAFF;
$Purple30: #BA8FF7;
$Purple40: #AF6EE8;
$Purple50: #9855D4;
$Purple60: #734098;
$Purple70: #562F72;
$Purple80: #412356;
$Purple90: #311A41;
$Purple100: #001F44;

$Yellow10: #FDE876;
$Yellow20: #FDD600;
$Yellow30: #EFC100;
$Yellow40: #BE9B00;
$Yellow50: #8C7300;
$Yellow60: #735F00;
$Yellow70: #574A00;
$Yellow80: #3C3200;
$Yellow90: #281E00;
$Yellow100: #020100;

$Red10: #FFD2DD;
$Red20: #FFA5B4;
$Red30: #FF7D87;
$Red40: #FF5050;
$Red50: #E71D32;
$Red60: #AD1625;
$Red70: #8C101C;
$Red80: #6E0A1E;
$Red90: #4C0A17;
$Red100: #040001;

$Orange10: #FFD4A0;
$Orange20: #FFA573;
$Orange30: #FF7832;
$Orange40: #FF5003;
$Orange50: #D74108;
$Orange60: #A53725;
$Orange70: #872A0F;
$Orange80: #6D120F;
$Orange90: #43100B;
$Orange100: #030100;
